<mat-card class="example-card">
  <mat-card-content>
  	<p>Transaction 1</p>
  </mat-card-content>
</mat-card>
<mat-card class="example-card">
  <mat-card-content>
  	<p>Transaction 2</p>
  </mat-card-content>
</mat-card>
<mat-card class="example-card">
  <mat-card-content>
  	<p>Transaction 3</p>
  </mat-card-content>
</mat-card>
<mat-card class="example-card">
  <mat-card-content>
  	<p>Transaction 4</p>
  </mat-card-content>
</mat-card>
<mat-card class="example-card">
  <mat-card-content>
  	<p>Transaction 5</p>
  </mat-card-content>
</mat-card>
<mat-card class="example-card">
  <mat-card-content>
  	<p>Transaction 6</p>
  </mat-card-content>
</mat-card>
