<ngx-carousel [inputs]="carouselBanner" [moveToSlide]="0" (onMove)="onmoveFn($event)" class="activityCarousel">

  <ngx-item NgxCarouselItem class="bannerStyle" *ngFor="let activityFeedItem of activityFeed" routerLink='/activity-feed'>
    <p><strong>{{ activityFeedItem.title }}: </strong>{{ activityFeedItem.summary }}</p>
  </ngx-item>

  <div hidden=true>
    <button NgxCarouselPrev class='leftRs'>&lt;</button>
    <button NgxCarouselNext class='rightRs'>&gt;</button>
  </div>
</ngx-carousel>
