<h4>Activity Feed</h4>
<!--   <button mat-raised-button (click)='goBack()'>Back</button> -->
  <button mat-mini-fab (click)='goBack()'>
    <mat-icon >arrow_back</mat-icon>
  </button>
  <br>
  <br>
  <mat-card class="example-card" routerLink='/transactions' >
  <mat-card-content>
  	<p>Feed 1</p>
  </mat-card-content>
</mat-card>
<mat-card class="example-card" routerLink='/transactions' >
  <mat-card-content>
  	<p>Feed 2</p>
  </mat-card-content>
</mat-card>
<mat-card class="example-card" routerLink='/transactions' >
  <mat-card-content>
  	<p>Feed 3</p>
  </mat-card-content>
</mat-card>
<mat-card class="example-card" routerLink='/transactions' >
  <mat-card-content>
  	<p>Feed 4</p>
  </mat-card-content>
</mat-card>
