<mat-card class="example-card" routerLink='/transactions' >
  <mat-card-content>
  	<p>Category 1</p>
  </mat-card-content>
</mat-card>
<mat-card class="example-card" routerLink='/transactions' >
  <mat-card-content>
  	<p>Category 2</p>
  </mat-card-content>
</mat-card>
<mat-card class="example-card" routerLink='/transactions' >
  <mat-card-content>
  	<p>Category 3</p>
  </mat-card-content>
</mat-card>
<mat-card class="example-card" routerLink='/transactions' >
  <mat-card-content>
  	<p>Category 4</p>
  </mat-card-content>
</mat-card>
<mat-card class="example-card" routerLink='/transactions' >
  <mat-card-content>
  	<p>Category 5</p>
  </mat-card-content>
</mat-card>
<mat-card class="example-card" routerLink='/transactions' >
  <mat-card-content>
  	<p>Category 6</p>
  </mat-card-content>
</mat-card>
