<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:right">
<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>
      <button mat-icon-button (click) = "goBack()" *ngIf="backBtnVisible">
        <mat-icon>arrow_back</mat-icon>
      </button>
    </span>
    <span>{{ title }}</span>
    <span class="neymo-spacer"></span>
    <span>
    	<button mat-icon-button routerLink="/">
    		<mat-icon>home</mat-icon>
    	</button>
    </span>
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <span routerLink='/signin'>Change User</span>
      </button>
    </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>
</div>
<router-outlet (activate)="onActivate($event)"></router-outlet>
