<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:right">
<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <span (click) = "disconnectUser()">Sign Out</span>
      </button>
    </mat-menu>
    <span>{{ title }}</span>
    <span class="neymo-spacer"></span>
    <span>
    	<button mat-icon-button routerLink="/">
    		<mat-icon>home</mat-icon>
    	</button>
    </span>
  </mat-toolbar-row>
 </mat-toolbar>
</div>
<router-outlet></router-outlet>
