<h4>Balance Information</h4>
  <button mat-mini-fab (click)='goBack()'>
    <mat-icon >arrow_back</mat-icon>
  </button>
  <br>
  <br>
<h6>Bank Balances</h6>
<mat-card class="example-card" routerLink='/transactions' >
  <mat-card-content>
  	<p>Account 1</p>
  </mat-card-content>
</mat-card>
<mat-card class="example-card" routerLink='/transactions' >
  <mat-card-content>
	<p>Account 2</p>
  </mat-card-content>
</mat-card>
<h6>Credit Card Outstanding</h6>
<mat-card class="example-card" routerLink='//transactions' >
  <mat-card-content>
  	<p>Card 1</p>
  </mat-card-content>
</mat-card>
<h6>Money Wallet</h6>
<mat-card class="example-card" routerLink='//transactions' >
  <mat-card-content>
  	<p>Wallet 1</p>
  </mat-card-content>
</mat-card>
<mat-card class="example-card" routerLink='//transactions' >
  <mat-card-content>
  	<p>Wallet 2</p>
  </mat-card-content>
</mat-card>
<h6>Spending</h6>
<mat-card class="example-card" routerLink='//transactions' >
  <mat-card-content>
  	<p>All Spend</p>
  </mat-card-content>
</mat-card>