<div *ngIf="!isAuthenticated">
  <app-auth></app-auth>
</div>
<div *ngIf="isAuthenticated">
  <mat-card class="dash-card">
    <mat-card-content>
      <app-balance-summary></app-balance-summary>
    </mat-card-content>
  </mat-card>
  <mat-card class="dash-card">
    <mat-card-content>
      <app-activity-feed-summary></app-activity-feed-summary>
    </mat-card-content>
  </mat-card>
  <mat-chip-list>
    <span class="neymo-spacer"></span>
    <span>
      <mat-chip
        class="message-chip"
        color="accent"
        selected="true"
        routerLink='/transactions'>
        <h3>Today's Spend: {{ 9000 | indianCurrency }}</h3>
      </mat-chip>
    </span>
  </mat-chip-list>
  <mat-card class="dash-card" routerLink='/vendors' >
    <mat-card-header>
      <mat-card-title><h4>Expenses by Vendor</h4></mat-card-title>
    </mat-card-header>
    <mat-card-content>
    	<app-vendor-summary></app-vendor-summary>
    </mat-card-content>
  </mat-card>
  <mat-card class="dash-card" routerLink='/categories' >
    <mat-card-header>
      <mat-card-title><h4>Expenses by Category</h4></mat-card-title>
    </mat-card-header>
    <mat-card-content>
       <app-category-summary></app-category-summary>
    </mat-card-content>
  </mat-card>
</div>
