<div *ngIf = "!isAuthenticated">
  <google-signin
    [clientId]="gClientId"
    (googleSignInSuccess)="onGoogleSignInSuccess($event)">
  </google-signin>
</div>
<div *ngIf = "isAuthenticated">
  <mat-card class="example-card" routerLink='/balance-info' >
    <mat-card-header>
      <mat-card-title>Balance Information</mat-card-title>
    </mat-card-header>
    <mat-card-content>
    	<ul>
    		<li> Bank: </li>
    		<li> Card: </li>
    		<li> Wallet: </li>
    		<li> Expenses: </li>
    	</ul>
    </mat-card-content>
  </mat-card>
  <mat-card class="example-card" routerLink='/activity-feed' >
    <mat-card-header>
      <mat-card-title>Activity Feed</mat-card-title>
    </mat-card-header>
    <mat-card-content>
    	<ul>
    		<li> Feed 1 </li>
    		<li> Feed 2 </li>
    		<li> Feed 3 </li>
    	</ul>
    </mat-card-content>
  </mat-card>
  <mat-card class="example-card" routerLink='/vendors' >
    <mat-card-header>
      <mat-card-title>Vendors</mat-card-title>
    </mat-card-header>
    <mat-card-content>
    	<ul>
    		<li> Vendor 1 </li>
    		<li> vendor 2 </li>
    		<li> vendor 3 </li>
    	</ul>
    </mat-card-content>
  </mat-card>
  <mat-card class="example-card" routerLink='/categories' >
    <mat-card-header>
      <mat-card-title>Categories</mat-card-title>
    </mat-card-header>
    <mat-card-content>
    	<ul>
    		<li> Categories 1 </li>
    		<li> Categories 2 </li>
    		<li> Categories 3 </li>
    	</ul>
    </mat-card-content>
  </mat-card>
</div>
