<mat-grid-list cols="3" rowHeight="100px">
  <mat-grid-tile *ngFor = "let balSumRec of balanceSummary">
      <span style="text-align: center">
        <button mat-mini-fab color="primary" routerLink="/balance-info">
          <mat-icon>{{ getAccountIcon(balSumRec.acClass) }}</mat-icon>
        </button><br>
        <p style="text-align: center">{{ balSumRec.acClass }}</p>
        <p style="text-align: center">{{ balSumRec.balance | indianCurrency }}</p>
      </span>
  </mat-grid-tile>
</mat-grid-list>
