<mat-grid-list cols="3" rowHeight="100px">
  <mat-grid-tile>
      <span style="text-align: center">
        <button mat-mini-fab color="primary" routerLink="/balance-info">
          <mat-icon>account_balance</mat-icon>
        </button><br>
        <p style="text-align: center">Bank</p>
        <p style="text-align: center">Rs. 3,00,000</p>
      </span>
  </mat-grid-tile>
  <mat-grid-tile>
      <span style="text-align: center">
        <button mat-mini-fab color="primary" routerLink="/balance-info">
          <mat-icon>credit_card</mat-icon>
        </button>
        <br>
        <p style="text-align: center">Card</p>
        <p style="text-align: center">Rs. 1,20,000</p>
      </span>
  </mat-grid-tile>
  <mat-grid-tile>
      <span style="text-align: center">
        <button mat-mini-fab color="primary" routerLink="/balance-info">
          <mat-icon>account_balance_wallet</mat-icon>
        </button>
        <br>
        <p style="text-align: center">Wallet</p>
        <p style="text-align: center">Rs. 33,000</p>
      </span>
  </mat-grid-tile>
</mat-grid-list>
